@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --logo-blue-color: #2196f3;
  --text-color: #212121;
  --dark-section-text-color: #ffffff;
  --alternate-text-color: #757575;
  --link-hover-color: #2196f3;
  --button-background-color: #f5f4fa;
  --button-active-color: #2196f3;
  --link-color: #757575;
  --dark-bg-color: #2f303a;
}
.body {
  font-family: var(--text-font-family);
  color: var(--text-color);
}
.global-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.global-header a:active {
  color: var(--link-color);
}
.global-header a:hover,
.global-header a:focus {
  color: var(--link-hover-color);
}
.logo-header {
  font-family: var(--logo-font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.main-navigation a {
  color: var(--text-color);
}
.main-navigation .blue-logo {
  color: var(--logo-blue-color);
}
.contact-links {
  color: var(--link-color);
  text-decoration: none;
}
.contact-links:hover,
.contact-links:focus {
  color: var(--link-hover-color);
}
.hero-section {
  background: var(--dark-bg-color);
  color: var(--dark-section-text-color);
}
.hero-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--text-color);
  background-color: var(--button-background-color);
}
.hero-section .button:hover,
.hero-section .button:focus {
  background: var(--button-active-color);
  color: var(--dark-section-text-color);
}
.section {
  letter-spacing: 0.03em;
}
.section-sub-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/*lists*/
.team-members li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  list-style-type: none;
}
.job-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--alternate-text-color);
}
.footer-section {
  background: var(--dark-bg-color);
  color: var(--dark-section-text-color);
}
.footer-section address {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.footer-section a {
  text-decoration: none;
}
.blue-logo {
  color: var(--logo-blue-color);
}

/*Portfolio page*/
.project-list {
  list-style-type: none;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--alternate-text-color);
}
.navigation-filters ul {
  list-style-type: none;
}
.nav-buttons {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
}
.nav-buttons .button:hover,
.nav-buttons .button:focus {
  background: var(--button-active-color);
  color: var(--dark-section-text-color);
}
